# Virtual environments
venv/
env/
tf/

# Mac system files
.DS_Store

# __pycache__ files
__pycache__/
*.pyc

# PyCharm files
.idea/

# WSL/Windows cache (if synced later)
Thumbs.db

# TensorFlow model artifacts
*.h5
*.pb
saved_model/
*.tflite

# Roboflow files (if any)
*.zip



# Ignore all dataset contents but keep folder structure
dataset/**
!dataset/.gitkeep
!dataset/processed/.gitkeep
!dataset/processed/train/.gitkeep
!dataset/processed/valid/.gitkeep
!dataset/processed/test/.gitkeep
!dataset/annotated/.gitkeep
!dataset/raw/.gitkeep

